conda.enabled = true
conda.useMicromamba = true

params {
    raw_seq_dir = null   // must be provided via --raw_seq_dir
    sample_metadata = null   // must be provided via --sample-metadata
}

process {
    withName: 'IMPORT_RAW' {
        conda = '/home/ky20893/micromamba/envs/qiime2-amplicon-2026.4'
    }
    withName: 'DEMUX' {
        conda = '/home/ky20893/micromamba/envs/qiime2-amplicon-2026.4'
    }
}
