conda.enabled = true
conda.useMicromamba = true

params {
    stage = 'full' // select workflow through --stage
    raw_seq_dir = null   // must be provided via --raw_seq_dir
    sample_metadata = null   // must be provided via --sample-metadata
    outdir = null   // must be provided via --outdir
    demux_seqs = null // optional: path to an existing demux-full.qza and skip import+demux steps
    trim_left_f = 13   // bases to trim from beginning, forward
    trim_left_r = 13   // bases to trim from beginning, reverse
    trunc_len_f = 150   // truncation length, forward
    trunc_len_r = 142   // truncation length,  reverse
}

process {
    withName: 'IMPORT_RAW' {
        conda = '/home/ky20893/micromamba/envs/qiime2-amplicon-2026.4'
    }
    withName: 'DEMUX' {
        conda = '/home/ky20893/micromamba/envs/qiime2-amplicon-2026.4'
    }
    withName: 'DEMUX_SUMMARIZE' {
        conda = '/home/ky20893/micromamba/envs/qiime2-amplicon-2026.4'
    }
    withName: 'DADA2_DENOISE' {
        conda = '/home/ky20893/micromamba/envs/qiime2-amplicon-2026.4'
        cpus = 16
    }
}
